* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  color: black;
  background: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.section_about {
  padding-top: 100px;
  padding-bottom: 60px;
}

.container_about {
  width: 100%;
  max-width: 288px;
  height: 395px;
  margin-left: 16px;
  margin-right: 16px;
}

.line_about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.h2_text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.line {
  width: 183px;
  color: black;
}
.list_about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}

.about_text {
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.list-item-about {
}

@media (min-width: 780px) {
  .section_about {
    padding-bottom: 100px;
  }
  .container_about {
    width: 100%;
    max-width: 720px;
    height: 301px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .line_about {
    gap: 16px;
    margin-bottom: 30px;
  }

  .h2_text {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .line {
    width: 538px;
    color: black;
  }
  .list_about {
    flex-direction: row;
    align-items: center;
  }

  .about_text {
    width: 100%;
    max-width: 322px;
    height: 168px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
  }

  .item_images {
    width: 344px;
    height: 217px;
    border-radius: 0px 639.5px 639.5px 0px;
    background: lightgray -16.343px -16px / 104.771% 110.84% no-repeat;
  }
}

@media (min-width: 1280px) {
  .container_about {
    width: 100%;
    max-width: 1232px;
    height: 424px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .line_about {
    gap: 16px;
  }

  .line {
    width: 1050px;
    color: black;
  }
  .about_text {
    width: 100%;
    max-width: 510px;
    height: 135px;
    font-size: 22px;
    padding: 0px;
  }

  .item_images {
    width: 632px;
    height: 344px;
    object-fit: cover;
    border-radius: 0px 639.5px 639.5px 0px;
    background: lightgray -16.343px -16px / 104.771% 110.84% no-repeat;
  }
}
