* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  color: black;
  background: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.section_about {
  padding-top: 100px;
  padding-bottom: 60px;
}

.container_about {
  width: 100%;
  max-width: 288px;
  height: 395px;
  margin-left: 16px;
  margin-right: 16px;
}

.line_about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h2_text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.list_about {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.about_text {
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
